<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<div class="icon-news-cover">
  <img class="img-telv" src="https://img.icons8.com/material-outlined/65/000000/tv.png"/>
  <h3>My News Cover</h3>
</div>
<div class="opt-session">
  <button type="submit" class="btn btn-secondary btn-session" disabled="true">User</button>
  <button type="cancel" class="btn btn-danger btn-session">Logout</button>
  <button type="submit" class="btn btn-primary btn-session">News Sources</button>
</div>
<p class="title-user">Your unique News Cover</p>
<hr class="up">
<ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Portada</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Sucesos</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Deportes</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Nacionales</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Internacionales</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Espectáculos</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Categoria 2</button>
  </li>
</ul>
<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
    <p>{{ "2016-01-05T09:05:05.035Z" | date }}</p>
    <img src="..." alt="..." class="img-thumbnail">
    <p>Título de la noticia</p>
    <div class="input-group">
      <p>Descripción de la noticia</p>
      <p>Categoria</p>
    </div>
    <button type="button" class="btn btn-link">Ver Noticia</button>
  </div>
  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
    <p>{{ "2016-01-05T09:05:05.035Z" | date }}</p>
    <img src="..." alt="..." class="img-thumbnail">
    <p>Título de la noticia</p>
    <div class="input-group">
      <p>Descripción de la noticia</p>
      <p>Categoria</p>
    </div>
    <button type="button" class="btn btn-link">Ver Noticia</button>
  </div>
  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
    <p>{{ "2016-01-05T09:05:05.035Z" | date }}</p>
    <img src="..." alt="..." class="img-thumbnail">
    <p>Título de la noticia</p>
    <div class="input-group">
      <p>Descripción de la noticia</p>
      <p>Categoria</p>
    </div>
    <button type="button" class="btn btn-link">Ver Noticia</button>
  </div>
</div>
<footer>
  <hr class="down">
  <p>My News Cover</p>
</footer>

