<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<div class="icon-news-cover">
  <img class="img-telv" src="https://img.icons8.com/material-outlined/65/000000/tv.png"/>
  <h3>My News Cover</h3>
</div>
<div class="opt-session">
  <button type="submit" class="btn btn-secondary btn-session" disabled="true">User</button>
  <button type="cancel" class="btn btn-danger btn-session">Logout</button>
  <button type="submit" class="btn btn-primary btn-session">News Sources</button>
</div>
<p class="title-user">News Source</p>
<hr class="up">
<div class="content">
  <div>
  <input type="text" class="form-control inp-prop" name="mail" id="mail" placeholder="Name">
  <input type="url" class="form-control" name="pass" id="pass" placeholder="RSS URL">
  <select class="form-select" aria-label="Default select example">
    <option selected>Category</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
  </select>
  </div>
<hr class="up-log">
<button class="btn btn-success">Save</button>
<footer>
  <hr class="down">
  <p>My News Cover</p>
</footer>
