<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<div class="icon-news-cover">
  <img class="img-telv" src="https://img.icons8.com/material-outlined/65/000000/tv.png"/>
  <h3>My News Cover</h3>
</div>
<div class="opt-session">
  <button type="submit" class="btn btn-secondary btn-session" disabled="true">User</button>
  <button type="cancel" class="btn btn-danger btn-session">Logout</button>
  <button type="submit" class="btn btn-primary btn-session">News Sources</button>
</div>
<p class="title-user">Categories</p>
<hr class="up">
<div class="content">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Category</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Deportes</td>
        <td>
          <button class="btn-link">Edit |</button><button class="btn-link">Delete</button>
        </td>
      </tr>
      <tr>
        <td>Farandula</td>
        <td>
          <button class="btn-link">Edit |</button><button class="btn-link">Delete</button>
        </td>
      </tr>
      <tr>
        <td>Sucesos</td>
        <td>
          <button class="btn-link">Edit |</button><button class="btn-link">Delete</button>
        </td>
      </tr>
      <tr>
        <td>Sucesos</td>
        <td>
          <button class="btn-link">Edit |</button><button class="btn-link">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
<button class="btn btn-success">Add New</button>
<footer>
  <hr class="down">
  <p>My News Cover</p>
</footer>
