<!-- JavaScript Bundle with Popper -->
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<div class="icon-news-cover">
  <img src="https://img.icons8.com/material-outlined/70/000000/tv.png"/>
  <h3>News Cover</h3>
</div>
<div class="content">
  <h3>Hello</h3>
  <p class="title-user">
    User Login
  </p>
  <hr class="solid">
  <div>
    <input type="text" class="form-control inp-prop" name="mail" id="mail" placeholder="Email Address">
    <input type="password" class="form-control inp-prop" name="pass" id="pass" placeholder="Password">
  </div>
  
  <hr class="up-log">
  <div>
    <button type="submit" class="btn btn-primary btn-log">Login</button>
  </div>
  <label>If you don't have any account,</label><button type="button" class="btn btn-link">Signup Here</button>
</div>
<div class=""></div>
<footer class="foot">
  <hr>
  <p>My News Cover</p>
</footer>

  
