/* Solid border */
hr.solid {
    border-top: 3px solid #bbb;
    width: 80%;
  }

  h3 {
    top: 2%;
    color: #606060;
    z-index: 101;
    margin-top: -57px;
    margin-left: 18px;
    word-spacing: 2px;
  }

hr.up-log {
  width: 80%;
}
.title-user {
  font-family: unset;
  font-size: 25px;
  color: #606060;
  letter-spacing: 1px;
}

.img-telv{
  color: #606060;
  z-index: 100;
}

.foot{
  text-align: center;
  margin-top: 12%;
}

.content{
  padding-top: 7%;
  margin-left: 7%;
}

.btn-log{
  width: 16%;
}

.inp-prop{
  margin-top: 3%;
  width: 35%;
}

.icon-news-cover{
  margin-left: 7%;
}