<!-- JavaScript Bundle with Popper -->
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<div class="icon-news-cover">
  <img class="img-telv" src="https://img.icons8.com/material-outlined/65/000000/tv.png"/>
  <h3>My News Cover</h3>
</div>
<div class="content">
  <p class="title-user">
    User Registration
  </p>
  <hr class="solid">
  <div class="input-group">
    <input type="text" class="form-control inp-prop" name="first" id="first" placeholder="First Name">
    <input type="text" class="form-control inp-prop" name="last" id="last" placeholder="Last Name">
  </div>
  <div class="input-group">
    <input type="text" class="form-control inp-prop" name="mail" id="mail" placeholder="Email Address">
    <input type="password" class="form-control inp-prop" name="pass" id="pass" placeholder="Password">
  </div>
    <input type="text" class="form-control inp-prop" name="address" id="address" placeholder="Address">
    <input type="text" class="form-control inp-prop" name="address_two" id="address_two" placeholder="Address 2">
  <div class="input-group">
    <select class="form-select" aria-label="Default select example">
      <option selected>Country</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
    <input type="text" class="form-control inp-prop" name="city" id="city" placeholder="City">
  </div>
  <div class="input-group">
    <input type="number" class="form-control inp-prop" name="zip" id="zip" placeholder="Zip/Postal Code">
    <input type="tel" class="form-control inp-prop" name="zip" id="zip" placeholder="Phone Number">
  </div>
  <hr class="up-log">
  <div>
    <button type="submit" class="btn btn-primary btn-log">Sign up</button>
  </div>
</div>
<div class=""></div>
<footer class="foot">
  <hr>
  <p>My News Cover</p>
</footer>

