/* Solid border */
hr.solid {
    border-top: 3px solid #bbb;
    width: 80%;
  }

h3 {
  top: 2%;
  color: #606060;
  z-index: 101;
  margin-top: -53px;
  margin-left: 20px;
  word-spacing: 2px;
}

hr.up-log {
  width: 80%;
}
.title-user {
  font-family: unset;
  font-size: 25px;
  color: #606060;
  letter-spacing: 1px;
}

.img-telv{
  z-index: 100;
}

.foot{
  text-align: center;
  margin-top: 12%;
}

.content{
  padding-top: 7%;
  margin-left: 7%;
}

.btn-log{
  width: 16%;
}

.inp-prop{
  margin-top: 3%;
  width: 98%;
  margin-right: 1rem;
}

.dropdown {
  padding-top: 1rem;
}

.icon-news-cover{
  margin-left: 7%;
}

p {
  margin-bottom: -1rem;
}

.form-select{
  margin-top: 3%;
  margin-right: 1rem;
}
