.opt-session {
    display: inline-grid;
    width: 97%;
    place-content: flex-end;
}

hr.up {
    border-top: 1px solid #bbb;
    width: 60%;
    margin-left: 3rem;
  }

  hr.down {
    border-top: 1px solid #bbb;
    width: 100%;
    margin: auto;
    margin-top: 8rem;
  }

h3 {
    text-align: center;
    color: #606060;
    letter-spacing: 1px;
    margin-right: 17rem;
    display: flex;
}

ul {
    margin: auto;
}
  .img-telv{
    z-index: 100;
    margin-left: -11px;
  }

  h3 {
    top: 2%;
    color: #606060;
    z-index: 101;
    margin-top: -53px;
    word-spacing: 2px;
  }


  .title-user {
    font-family: unset;
    font-size: 25px;
    color: #606060;
    letter-spacing: 1px;
    padding-left: 3rem;
  }

  .tab-content{
      display: flex;
  }

  div {
    margin: 1rem;
    border-width: thin;
  }

  footer {
    margin-top: 12%;
    text-align: center;
  }

  .btn-session {
      height: 80%;
      text-align: center;
      margin-right: 4rem;
      color: white;
      background-color: gray;
  }

  .container {
  background-color: #bfbfbf;
}

.btn-link {
    border: hidden;
    background-color: transparent;
}

.table {
    text-align: center;
}

.btn-success{
    padding-left: 1rem;
    margin-left: 1rem;
    margin-top: 1rem;
    width: 13%;
    background-color: gray;
}
  
  .btn-log{
    width: 16%;
  }
  
  .inp-prop{
    margin-top: 2%;
    margin-left: 1rem;
    width: 35%;
  }
  
  .icon-news-cover{
    margin-left: 4%;
  }

  .form-control {
    margin-bottom: 1rem;
  }